################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CICDPipelineDemo/FileContentIndex/84e89e6f-5c92-4a25-8529-fff27532879f.vsidx
